[submodule "skytemple_files/_resources/patches/asm_patches/pmd2_asm_mods"]
	path = skytemple_files/_resources/patches/asm_patches/pmd2_asm_mods
	url = https://github.com/SkyTemple/pmd2_asm_mods.git
	branch = dev
[submodule "skytemple_files/_resources/patches/asm_patches/end_asm_mods"]
	path = skytemple_files/_resources/patches/asm_patches/end_asm_mods
	url = https://github.com/End45/EoS-asm-hacks.git
[submodule "skytemple_files/_resources/patches/asm_patches/irdkwia_move_effects"]
	path = skytemple_files/_resources/patches/asm_patches/irdkwia_move_effects
	url = https://github.com/theCapypara/irdkwia_move_effects.git
