pmdsky-debug-py==4.0.0
ndspy==3.0.0
pyyaml==6.0
range-typed-integers==1.0.1
Pillow==9.3.0
appdirs==1.4.4
explorerscript==0.1.2
git+https://github.com/skytemple/skytemple-rust@master#egg=skytemple_rust
tilequant==0.4.1.post0
dungeon-eos==0.0.5
gql[aiohttp]==3.4.0
graphql-core>=3.2.0
# TODO: Add speedups extra again if cchardet is no longer required by it
aiohttp==3.8.3
lru-dict==1.1.8
skytemple-3rdparty-typestubs
types-Pillow==9.3.0.4
types-PyYAML==6.0.12.2
types-setuptools
pytest
pylint
pycln
black
parameterized
xmldiff
typing_extensions >= 3.9; python_version < "3.9"
