pmdsky-debug-py==8.0.4
ndspy==4.1.0
pyyaml==6.0.1
range-typed-integers==1.0.1
Pillow==10.2.0
appdirs==1.4.4
explorerscript==0.1.5
git+https://github.com/skytemple/skytemple-rust@master#egg=skytemple_rust
dungeon-eos==0.0.5
gql[aiohttp]==3.5.0
graphql-core>=3.2.0
aiohttp[speedups]
lru-dict==1.3.0
skytemple-3rdparty-typestubs
types-Pillow==10.2.0.20240415
types-PyYAML==6.0.12.20240311
types-setuptools
pytest
ruff
parameterized
xmldiff
typing_extensions >= 3.9; python_version < "3.9"
importlib_resources>=1.3; python_version < "3.9"