pmdsky-debug-py==8.0.4
ndspy==4.1.0
pyyaml==6.0.1
range-typed-integers==1.0.1
Pillow==10.2.0
appdirs==1.4.4
explorerscript==0.1.5
git+https://github.com/skytemple/skytemple-rust@master#egg=skytemple_rust
dungeon-eos==0.0.5
gql[aiohttp]==3.5.0b8
graphql-core>=3.2.0
# TODO: Add speedups extra again if cchardet is no longer required by it
aiohttp
lru-dict==1.2.0
skytemple-3rdparty-typestubs
types-Pillow==10.0.0.3
types-PyYAML==6.0.12.12
types-setuptools
pytest
pylint>=3.0.0
pycln>=2.1.3
black
parameterized
xmldiff
typing_extensions >= 3.9; python_version < "3.9"
importlib_resources>=1.3; python_version < "3.9"